<h2> View Employee Details </h2>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>SSN:</strong>
  <%= @employee.ssn %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @employee.date_of_birth %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Role:</strong>
  <%= @employee.role %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.user.email %>
</p>

<p>
  <strong>Active:</strong>
  <%= @employee.active %>
</p>


